= react_component "AdxWrapper", api: {json: @file.to_hash}, sliderImage: {first: asset_path("img/slide-1.jpg")}, aboutImage: {itemImage: asset_path("img/about-1.jpg")}, contentImage: {middleImage: asset_path("img/screen-1.jpg")}, footerImage: {bottomLogo: asset_path("img/logo-bottom.png")}, headerImage: {adxLogo: asset_path("img/logo-top.png"), signUpLogo: asset_path("img/icon/user.png")}
