.form-wrapper-container-react-component

javascript:
  ReactDOM.render(
    React.createElement(FormWrapper, { headerImage: {adxLogo: '#{asset_path("img/logo-top.png").html_safe}', signUpLogo: '#{asset_path("img/icon/user.png").html_safe}'},
      footerImage: {bottomLogo: '#{asset_path("img/logo-bottom.png").html_safe}'},
      learnMoreImage: {diagram: '#{asset_path("img/icon/diagram.png")}', dollar: '#{asset_path("img/icon/dollar.png")}', calendar: '#{asset_path("img/icon/calendar-100.png")}',bigTv: '#{asset_path("img/big-tv.png")}', theWays: '#{asset_path("img/the-ways.png")}', coffee: '#{asset_path("img/icon/coffee.png")}', pig: '#{asset_path("img/icon/pig.png")}', staff: '#{asset_path("img/icon/staff.png")}'},
      formType: 'learn-more'
    }),
    document.querySelector('.form-wrapper-container-react-component')
  );
