= react_component 'LatestHotel', sliders: [{url: asset_path('first.jpg'), title: 'six sense laamu, maldives'},{url: asset_path('girl.jpg'), title: 'Four Season Resort, Landaa Giraavaru Maldives'}]
= react_component 'OurHotel'
= react_component 'HotelItems', items: [[ \
  {class: {col: 'tall', hover: 'col-vertical'}, background: asset_path('ceko.jpg'), country: 'czech republic', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'tall', hover: 'col-vertical'}, background: asset_path('bhutan.jpg'), country: 'bhutan', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'tall', hover: 'col-vertical'}, background: asset_path('sycheless.jpg'), country: 'sycheless', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'tall', hover: 'col-vertical'}, background: asset_path('malaysia.jpg'), country: 'malaysia', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'large', hover: 'col-vertical'}, background: asset_path('thailand.jpg'), country: 'thailand', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  ],[ \
  {class: {col: 'weight', hover: 'col-horizontal'}, background: asset_path('indonesia.jpg'), country: 'indonesia', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'weight', hover: 'col-horizontal'}, background: asset_path('maldives.jpg'), country: 'maldives', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'tall tall-right-left', hover: 'col-vertical'}, background: asset_path('singapore.jpg'), country: 'singapore', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'tall tall-right-right', hover: 'col-vertical'}, background: asset_path('south-africa.jpg'), country: 'south africa', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'weight', hover: 'col-horizontal'}, background: asset_path('tanzania.jpg'), country: 'tanzania', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  {class: {col: 'weight', hover: 'col-horizontal'}, background: asset_path('vanuatu.jpg'), country: 'vanuatu', lists: ['four seasons private estate bali at jimbaran bay','four seasons resorts bali at jimbaran bay','four seasons resorts bali at sayan hard rock hotel bali']}, \
  ]]
