.sale-stok-wrapper-container-react-component

javascript:
  ReactDOM.render(
    React.createElement(WrapperSaleStock, {}),
    document.querySelector('.sale-stok-wrapper-container-react-component')
  );
