<header class="navbar navbar-fixed-top">
  <div class="container" style="margin-top: 5px;">
    <nav>
      <div class="nav navbar-nav navbar-left">
        <div><i class="logo-hotel display-table-column"></i><a class="display-table-column" href="#">hotel properties limited</a></div>
      </div>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="sub-menu" href="#">about us</a></li>
        <li><a class="sub-menu" href="#">HPL companies</a></li>
        <li><a class="sub-menu" href="#">investor relations</a></li>
        <li><a href="#">career</a></li>
      </ul>
    </nav>
  </div>
</header>
